<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示数据</title>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
</head>
<body>
<div id="main" style="width: 800px;height:600px;"></div>
</body>
<script type="text/javascript">

     // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    //获取view传过来的数据
    var u={{ u|safe }};

    //获取数据
    option = {
    title: {
        text: u[0]+ '综合能力示意图'
    },
    tooltip: {},
    legend: {
        data: ['统计数据']
    },
    radar: {
        // shape: 'circle',
        name: {
            textStyle: {
                color: '#fff',
                backgroundColor: '#999',
                borderRadius: 3,
                padding: [3, 5]
           }
        },

        indicator: [
           { name: 'IQ', max: 100},
           { name: 'EQ', max: 100},
            { name: 'Strength', max: 100},
            { name: 'Speed', max: 100},
            { name: 'Tenacious', max: 100},
        ]
    },

    series: [{
        name: u[0],
        type: 'radar',
        // areaStyle: {normal: {}},
        data : [
            {
                value : [u[1], u[2], u[3],u[4],u[5]],
                name : '统计数据'
            }
        ]
    }]
};

     // 使用刚指定的配置项和数据显示图表。
     myChart.setOption(option);
</script>
</html>